<!DOCTYPE html>
<html ng-app="mtg">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="MtgSearchController">

	<div class="row">
		<div class="col-md-12">
			<form>
				<input ng-model="filtro" class="form-control" placeholder="Pesquisar" />
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" ng-repeat="card in cards.cards | filter: filtro">
			{{card.name}}
			<img src="{{card.imageUrl}}" />
		</div>		
	</div>


	<script type="text/javascript" src="/angular/angular.js"></script>
	<script type="text/javascript" src="/assets/js/angular-main.js"></script>
	<script type="text/javascript" src="/assets/js/controllers/mtg-search-controller.js"></script>
</body>
</html>